@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.con-form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  .login-input1 {
    // display: block;
    text-align: center;
    height: 80vh;
    width: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    h1 {
      text-align: center;
      padding-bottom: 40px;
      padding-top: 23px;
      color: #000;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p {
      color: #000;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-right: 250px;
    }

    .pass{
      padding-top: 30px;
      color: #000;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-right: 200px;
    }

    button {
      height: 60px;
      border-radius: 5px;
      border: 2px solid #fff;
      width: 325px;
      background-color: #2E86DE;
      cursor: pointer;
      color: #fff;
      font-size: 30px;
      font-weight: 700;
    }

    button:hover {
      background-color: #fff;
      border: 1px solid #000;
      color: black;
    }

    .last-p {
      color: #B1B1B1;
      font-family: Roboto;
      font-size: 18px;
      font-style: italic;
      font-weight: 100;
      width: 100%;

      span {
        color: #B1B1B1;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
    }

  }
}